/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
      Change favorite color
      Default: hsl(162, 100%, 40%)
      Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
      Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)

    CVcool: hsl(36 , 100% , 50%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */

  --hue: 36;
  
  --first-color: hsl(var(--hue), 100%, 50%);
  --first-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 65%);
  --body-color: linear-gradient(#00A1AB , #020112); 
  --alternate-body--color:hsl(201, 67%, 9%);    
  --container-color: hsl(197, 17%, 8%);
  --alter-container--color:hsl(192, 100%, 8%) ;
  

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  /* background-color: var(--body-color); */
  background: var(--body-color);

  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img,
svg {
  max-width: 100%;
  height: auto;
 
}



/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1120px;
  margin-inline: auto;
}
.home__container,
.about__container,
.skills__container,
.services__container,
.projects__container,
.footer__container {
  flex-direction: column;
  row-gap: 3rem;
  display: flex;
  max-width: 450px;
  
}
.section__title,
.section__subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.section__subtitle span {
  color: var(--first-color);
}


.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
header {
  position: fixed;
  width: 100%;
  background-color: var(--alter-container--color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  padding-block: 18px;
}


.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav__logo span {
  color: var(--first-color);
}

.nav__close,
.nav__toggle {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav__close {
  position: absolute;
  top: 1rem; 
  right: 1.5rem;
   
}
.nav__link {
  display: inline-block;
  position: relative;
  font-size: 1.125rem;
  color: var(--title-color);
  text-decoration: none; /* Aseguramos que no haya subrayado por defecto */
  transition: all 0.3s ease; /* Transici칩n suave para todos los efectos */
}

/* Efecto de subrayado y brillo al pasar el mouse */
.nav__link:hover {
  color: var(--first-color); /* Color del enlace al pasar el mouse */
  text-decoration: underline; /* Subraya el enlace */
  text-decoration-color: var(--first-color); /* Color del subrayado */
  text-shadow: 0 0 10px var(--first-color); /* Brillo alrededor del texto */
}

/* Efecto al hacer clic */
.nav__link:active {
  color: var(--first-color); /* Mantener el color al hacer clic */
  text-decoration: underline;
  text-decoration-color: var(--first-color);
  text-shadow: 0 0 15px var(--first-color); /* Brillo m치s intenso al hacer clic */
}

@media screen and (max-width:1023px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 10%, .3);
    width: 75%;
    height: 100%;
    padding: 4.5rem 0 0 3rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px) ;
    transition: right 0.4s;
  }
  
  
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color .4s;
}
.nav__link:hover {
  color: var(--first-color);
}


/* Show menu */
.show-menu {
  right: 0;
}
/* Add blur to header */
.blur-header {
  background-color: transparent;
}
.blur-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 10%, 0.3);
  backdrop-filter: blur(24px);
 
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home {
  padding-block: 3.5rem 2rem;
  background-color: var(--alter-container--color);
}
.home__container {
  padding-top: 2rem;
  row-gap:2.5rem;
  
  
}
.home__content {
  display: grid;
  row-gap: 2rem;
  
}
.home__data {
  text-align: center;
}
.home__subtitle,
.home__education {
  font-size: var(--bigger-font-size);
}
.home__subtitle span,
.home__title {
  color: var(--first-color);
}
.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}
.home__description {
  padding-block: 1rem 1.5rem;
}
.home__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}
.home__social-link {
  display: flex;
  background-color: var(--first-color-alt);
  padding: 0.5rem;
  color: var(--title-color);
  font-size: 1.5rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.4s;
}
.home__social-link:hover {
  transform: translateY(-0.25rem);
}

.home__img {
  overflow: hidden;
  align-items: center;
  justify-content: center;
 

  
}
.home__blob {
  width: 320px;
  fill: var(--first-color);
  filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.2));
  
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: all 0.4s;
}
.button:hover {
  box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, 0.35);
}
.btn__home {
  padding-inline: 1.25rem;
  
  
}

.btn--icon {
  display: block;
  margin-left: .5rem;
  font-size: 20px;
  margin-top: 10px;
}

/*=============== ABOUT ===============*/
.about {
  padding-block: 5rem 0;
}
.about__container {
  row-gap: 2.5rem;

  
}
.about__data {
  text-align: center;
}
.about__description {
  margin-bottom: 2rem;
}
.about__image {
  justify-self: center;
}
.about__blob {
  width: 320px;
}
.about__blob path {
  stroke: var(--first-color);
}

/*=============== SKILLS ===============*/
.skills {
  padding-block: 6rem 6rem;
  
  background-color: var(--alternate-body--color);
}
.skills__container{
  padding-bottom: 2rem;
  row-gap: 3.5rem;

}
.button_skills {
  /* Espacio entre las columnas */
  align-items: center; /* Alinea verticalmente el contenido */
}

.skills__data {
  text-align: center;
}
.skills__description {
  margin-bottom: 2rem;
}
.skills__content,
.skills__group {
  display: grid;
}
.skills__content {
  grid-template-columns: repeat(2, max-content);
  column-gap: 4rem;
  justify-content: center;
  align-items: baseline;
}
.skills__group {
  row-gap: 1rem;
  list-style: decimal-leading-zero;
}
.skills__item {
  font-weight: var(--font-medium);
  color: var(--title-color);
}
.skills__item::marker {
  color: var(--first-color);
}
/*=============== SERVICES ===============*/
.services {
  padding-block: 6rem 2rem;
  background-color: var(--alter-container--color);
  
}
.services__container {
  row-gap: 2rem;
  padding-block: 1rem;
 
  
  
}
.services__card {
  text-align: center;
  background-color: var(--container-color);
  padding: 3rem 1.25rem;
  border-radius: 1rem;
  border: 2px solid var(--container-color);
  transition: border 0.4s;
}
.services__card:hover {
  border: 2px solid var(--first-color);
}
.services__icon {
  display: block;
  font-size: 4rem;
  color: var(--first-color);
  margin-bottom: 0.75rem;
}
.ri-database-2-line {
  color: var(--first-color); 
  font-size: 4rem;
  margin-top: 5px;

}
.services__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.5rem;
}

/*=============== PROJECTS ===============*/
.projects {
  padding-block: 6rem 2rem;
 
  background-color: var(--alternate-body--color);
}

.projects__container{
  row-gap: 2rem;
  justify-content: center;
  padding-block: 1rem;
}
.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.projects__img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
 
}
.projects__modal {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(var(--hue), 70%, 40%, 0.8) 120%

  
  );

  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: bottom 0.4s;
}
.projects__subtitle,
.projects__button {
  color: var(--title-color);
  font-size: var(--small-font-size);
}
.projects__subtitle {
  display: block;
  margin-bottom: 0.25rem;
}
.projects__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.75rem;
}
.projects__button {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-medium);
}
.projects__button i {
  font-size: 1.25rem;
}
.projects__card:hover .projects__modal {
  bottom: 0;
}

/*=============== CONTACT ===============*/
.contact{
  padding-block: 6rem 2rem;
}

.contact__container{
  padding-top: 1rem;
}
.contact__form,
.contact__group {
  display: grid;
  row-gap: 1rem;
}
.contact__form {
  position: relative;
  width: 100%;
  max-width: 550px;
  margin-inline: auto;
}
.contact__input {
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  background-color: var(--container-color);
  color: var(--title-color);
}
.contact__input::placeholder {
  color: var(--text-color);
}
.contact__form textarea {
  height: 11rem;
  resize: none;
  margin-bottom: 2rem;
}
.contact__button {
  justify-self: center;
  cursor: pointer;
}
.contact__message {
  position: absolute;
  left: 0;
  bottom: 4.5rem;
  font-size: var(--small-font-size);
  color: var(--title-color);
}
/*=============== FOOTER ===============*/
.footer {
  
  padding-block: 3.5rem 2rem;
}
.footer__container{
  display: flex;
  row-gap: 2rem;
  text-align: center;
}
.footer__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}
.footer__title span {
  color: var(--first-color);
}
.footer__education {
  font-size: var(--normal-font-size);
}
.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}
.footer__copyright {
  font-size: var(--smaller-font-size);
  margin-top: 2rem;
}





/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(228, 12%, 25%);

}
::-webkit-scrollbar-thumb{
  background-color: hsl(228, 8%, 35%);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(228, 8%, 45%);
}
/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--body-color);
  padding: 6px;
  display: inline-flex;
  border-radius: 25rem;
  color: var(--first-color);
  font-size: 1.25rem;
  box-shadow: 0 4px 12px hsla(228, 15%, 8%, .4);
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}
.scrollup:hover{
  transform: translateY(-.25rem);
}


/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* Para dispositivos peque침os */
/* Estilos para dispositivos m칩viles */



/* Estilos para tabletas (576px y superior) */
@media screen and (min-width: 576px) {
  .home__container,
  .skills__container,
  .services__container,
  .projects__container,
  .contact__container {
    display: grid;
    grid-template-columns: 1fr; /* Mantiene una sola columna en tabletas */
    justify-items: center;
    text-align: center;
    /* max-width: 450px; */
  }
}

/* Estilos para dispositivos medianos/grandes (768px y superior) */
@media screen and (min-width: 768px) {
  .home__container,
  .skills__container,
  .services__container,
  .projects__container,
  .about__container,
  .contact__container {
   
     max-width: 100%;
  }


  .home__container,
  .skills__container,
  .about__container,
  .contact__containers
   {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas para organizar mejor el contenido */
    gap: 2rem;
    align-items: center;
    text-align: left;
  }

  .services__container,
  .projects__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en servicios y proyectos */
    gap: 1.5rem;
  }

  .services__card {
    min-height: 400px;
  }

  .home__blob, 
  .about__blob {
    width: 400px;
  }
}

/* Estilos para dispositivos grandes (1023px y superior) */
@media screen and (min-width: 1023px) {
  .section {
    padding-block: 7rem 2rem;
  }

  .section__subtitle {
    font-size: var(--normal-font-size);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__link{
    font-size: 1rem;
    font-weight: var(--normal-font-size);
  }

  .nav__list {
    flex-direction: row;
    column-gap: 1.5rem;
  }

  .nav__menu {
    width: initial;
  }
  .blur-header::after{
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }
 
}

@media screen and (min-width: 1152px){
  .container{
    margin-inline: auto;
  }
  
  .home__container{
    grid-template-columns: 475px 550px;
    column-gap: 5rem;
    padding-block: 2rem 3rem;

  }

  .home__blob{
    width: 550px;
  }

  .home__content {
    row-gap: 4.5rem;

  }
  .home__description{
    margin-block: 1.5re 2.5rem;
  }

  .home__social{
    column-gap: 1.5rem;
  }

  .about__container{
    grid-template-columns: 550px 400px;
    column-gap: 4.5rem;
    padding-bottom: 1rem;
  }

  .about__blob{
    width: 550px;
  }
  .about__description{
    margin-bottom: 3rem;

  }

  .skills__container{
    grid-template-columns: 340px 425px;
    column-gap: 10rem;
    padding-bottom: 4rem;

  }

  .skills__description{
    margin-bottom: 3rem;

  }

  .skills__content{
    column-gap: 8rem;
  }

  .skills__group{
    row-gap: 1.5rem;

  }
  .skills__item{
    font-size: var(--h3-font-size);
  }

  .services__container{
    grid-template-columns: repeat(3, 342px);
    padding-block: 2.5rem 4rem;
  }

  .services__card{
    padding: 3.5rem 2rem;
   
  }
  .services__icon{
    height: auto;
  }
  .services__container
   {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en servicios y proyectos */
    gap: 1.5rem;
  }

  .projects__container{
    
    grid-template-columns: repeat(3, 350px);
    row-gap: 3rem;
    padding: 2.5rem 4rem;
  }

  .projects__button{
    font-size: var(--normal-font-size);
  }

  .contact__containers
   {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas para organizar mejor el contenido */
    gap: 2rem;
    align-items: center;
  
  }
  .contact__form{
    row-gap: 1.5rem;
  }

  .contact__group{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }

  .contact__input{
    padding: 1.5rem;
  }

  .contact__form textarea{
    height: 20rem;

  }

  

  .scrollup{
    right: 3rem;
  }

  .footer{
    background-color: var(--body-color);
  }

  .footer__container 
  {
    max-width: 1120px;
    flex-direction: row;
    align-items: center;

  }
  .footer__copyright {
    margin: 0;
  }


}
